@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color:#A9A9A9;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container{
  margin-top:5%;
}
form button {
  margin-top:1% ; 
}
ul{
  list-style: none;
}
form .col input {
  background-color: none;
  background:transparent;      
  border-radius: none;
  outline: none;
  text-align: center;
}
table button {
  margin:1%;
}