@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  background-color:#A9A9A9;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.container{
  margin-top:5%;
}
form button {
  margin-top:2% ;
}
form input {
  background-color:transparent;      
}